@page
<div class="row">
    <div class="col-6">
        <input class="btn btn-info" type="button" id="sendButton" value="Check Product Stock" />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<div class="btn-group">
    <a id="createEditUserModal" data-toggle="modal" asp-area="" asp-controller="Products" asp-action="AddProduct" data-target="#modal-action-user" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>  Add User
    </a>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/pushNotification.js"></script>